body {
  font-family: Roboto, sans-serif;
  background: linear-gradient(to top, #00051e, #020b45), no-repeat top center;
  color: #fff;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  background: #00092f;
  border: 2px solid #0f3460;
  border-radius: 35px;
  max-width: 500px;
  width: 90%;
  text-align: center;
}

p {
  margin: 10px 0;
  font-size: 16px;
}

p.success {
  font-size: 24px;
  font-weight: 700;
  color: green;
}

p.error {
  font-size: 24px;
  font-weight: 700;
  color: red;
}

h1,
h2 {
  margin: 10px 0;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1a3cdb;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 15px #000724;
}

button:hover {
  background-color: #e94560;
}

#loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #1a3cdb;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
